/* Bottom Bar - StatusBar */
.status-bar {
    -status-border: #2b2b2b;
    -status-bg: #181818;
    -status-text: #dddddd;
    -status-separator: #555555;

    -fx-min-height: 35px;
    -fx-pref-height: 35px;
    -fx-max-height: 35px;

    -fx-border-color: -status-border;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-color: -status-bg;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 20;
    -fx-alignment: center-left;
}

.status-label {
    -fx-text-fill: -status-text;
    -fx-font-size: 12px;
}

.status-spacer {
    /* invisible flexible spacer */
}

.status-separator {
    -fx-background-color: -status-separator;
    -fx-pref-width: 1;
}